body {
    font-family: "Segoe UI";
    background: floralwhite;
}

h1 {
    display: flex;
    background: darkred;
    margin-top: 0;
    justify-content: center;
    height: 12vh;
    align-items: center;
    font-size: 8vh;
    color: white;
    position: sticky;
    top: 0;
}

.game-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.points-description {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    margin-left: 20px;
}

.error-message {
    text-align: center;
    margin: 2vh 10vw 0;
    font-size: 1.2em;
    color: red;
    width: 40vw;
}

.skills-list {
    width: 50vw;
    align-self: center;
    margin: 0 0 2vh;
}

.skill {
    display: flex;
    justify-content: space-around;
    padding: 1.5vh 0;
    font-size: 1.2em;
}

.primary-skill-name {
    font-weight: bold;
    font-style: italic;
    color: darkblue;
}

.skill-points {
    text-align: center;
}

.skill-input {
    text-align: center;
    width: 50px;
    font-size: 1em;
}

.invalid-input {
    border: 2px solid red;
}

.global-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 40vw;
    align-self: center;
}

.global-button {
    font-size: 1.5em;
    width: 5em;
}

.change-points-buttons {
    font-size: 1em;
    width: 2em;
}